* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: rgb(104, 164, 243);
    padding: 20px;
    text-align: center;
}

#nombre {
    color: #003366;;
}

.intereces {
    color: #555;

}

main {
    padding: 20px;
}

section {

    margin-bottom: 20px;
}

.lista {
    margin-left: 20px;
}

.texto {
    background-color: aliceblue;
    padding: 10px;
}



