* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: rgb(104, 164, 243);
    padding: 20px;
    text-align: center;
}

#nombre {
    color: #003366;;
}

.intereces {
    color: #555;

}

main {
    padding: 20px;
}

section {

    margin-bottom: 20px;
}

.lista {
    margin-left: 20px;
}

.texto {
    background-color: aliceblue;
    padding: 10px;
}

.boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: gray;
    color: aliceblue;
    border: black;
    cursor: pointer;
}

.boton:hover {
    background-color: blue;
}

/*Lecci칩n 2 - Propiedades b치sicas de CSS*/

.propiedades {
    background-color: #f5f5f5;
    padding: 20px;
    margin-top: 30px;
}

.propiedades h2{
    text-align: center;
    margin-top: 20px;
}

.caja-css {
    width: 300px;
    padding: 15px;
    margin: 15px auto;
    border: 3px solid #f5f5f5;
    background-color: white;
    text-align: center;
}



/*Lecci칩n 2 - Propiedades b치sicas de CSS*/




footer {

    background-color: antiquewhite;
    text-align: center;
    padding: 10px;
    margin-top: 20px;

}

