* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: rgb(104, 164, 243);
    padding: 20px;
    text-align: center;
}

#nombre {
    color: #003366;;
}

.intereces {
    color: #555;

}

main {
    padding: 20px;
}

section {

    margin-bottom: 20px;
}

.lista {
    margin-left: 20px;
}

.texto {
    background-color: aliceblue;
    padding: 10px;
}

.boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: gray;
    color: aliceblue;
    border: black;
    cursor: pointer;
}

.boton:hover {
    background-color: blue;
}

/*Lección 2 - Propiedades básicas de CSS*/

.propiedades {
    background-color: #f5f5f5;
    padding: 20px;
    margin-top: 30px;
}

.propiedades h2{
    text-align: center;
    margin-top: 20px;
}

.caja-css {
    width: 300px;
    padding: 15px;
    margin: 15px auto;
    border: 3px solid #f5f5f5;
    background-color: white;
    text-align: center;
}

/*Lección 3- Herencia en CSS*/

.herencia-mi-organizacion {
    color: #1d78d3;
    font-family: 'Arial', sans-serif;
    text-align: center;
    line-height: 1.8;
    background-color: #eef4fb;
    padding: 25px;
    margin-top: 30px;
}

.reset-color {
    color: initial;
}


.nota {
    border: 2px solid #2c3e50;
    padding: 10px;
    margin-top: 15px;
}
.nota p{
    border: inherit;
    padding: 5px;
}


footer {

    background-color: antiquewhite;
    text-align: center;
    padding: 10px;
    margin-top: 20px;

}

